/* * {
  box-sizing: border-box;
  margin: auto 0;
  background-color: #633BBC;
} */


/* .App {
  text-align: center;
  margin: 0 auto;
} */

/* .center {
  text-align: center;
} */

h1 {
  font-weight: 900;
  font-size: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0 auto;
}

h2 {
  color: white;
  font-size: 30px;
}

/* .logo {
  text-align: left;
  height: 20vmin;  
} */